@model IEnumerable<AppleStore.Models.Order>
@{
ViewData["Title"] = "Список заказов";
}

<div class="container mt-5">
    <h2 class="text-center">Список заказов</h2>
    <div class="d-flex justify-content-between mb-3">
        <a href="/Orders/Create" class="btn btn-success">Добавить заказ</a>
    </div>
    <table class="table table-striped table-hover">
        <thead class="table-primary">
        <tr>
            <th>ID</th>
            <th>ID Пользователя</th>
            <th>Пользователь</th>
            <th>Email Пользователя</th>
            <th>Дата заказа</th>
            <th>Метод оплаты</th>
            <th>Количество</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.IDOrder</td>
                <td>@order.UserID</td>
                <td>@order.User.UserLogin</td>
                <td>@order.User.UserEmail</td>
                <td>@order.OrderDate.ToShortDateString()</td>
                <td>@order.PayWay.PayWayMethod</td>
                <td>@order.TotalCount</td>
                <td>
                    <a href="/Orders/Edit/@order.IDOrder" class="btn btn-warning btn-sm">Редактировать</a>
                    <a href="/Orders/Delete/@order.IDOrder" class="btn btn-danger btn-sm">Удалить</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
